{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="detail-body" goodsid="{{ good.id }}">
        <!-- 面包屑 -->
        <div class="bread">
            <ul class="bread-content">
                <li class="bread-item">
                    <a href="/">首页</a>&gt;
                </li>

                <li class="bread-item">
                    <a href="/category/{{ good.category_id }}">{{ good.category.name }}</a>&gt;
                </li>

                <li class="bread-item">
                    <a href="javascript:void(0);">{{ good.name }}</a>
                </li>
            </ul>
        </div>

        <!-- detail-content -->
        <div class="detail-content">
            <div class="detail-con-left">
                <img id="rightimg" src="{{ MEDIA_URL }}{{ good.img }}">
            </div>
            <div class="detail-con-right">
                <h3>{{ good.desc }}</h3>
                <div class="price">
                    <i>￥</i>
                    <p>{{ goods.price }}</p>
                    <s>￥{{ good.oldprice }}</s>
                </div>

                <div class="line"></div>
                <div class="color">
                    <p class="p-item">颜色：</p>
                    <ul class="MinImgList">
                           {% for color in good.colors %}
                            <li class="MinImg  {% if forloop.first %}active{% endif %} " >
                                <img src="{{ MEDIA_URL }}{{ color.value }}" width="30px" height="30px">
                            </li>
                           {% endfor %}

                    </ul>
                </div>
                <div class="size">
                    <p class="p-item">
                        尺码：
                    </p>
                    <ul class="size-list">
                         {% for size in good.sizes %}
                            <li  class="size-item  {% if forloop.first %}active{% endif %} ">{{ size.value }}</li>
                         {% endfor %}
                    </ul>
                </div>
                <div class="num">
                    <p class="p-item">
                        数量：
                    </p>
                    <div class="jian">-</div>
                    <input type="number" name="" value="1">
                    <div class="jia">+</div>
                </div>
              <form action="/cart/" method="post">
                    <input name="colorid" hidden="">
                    <input name="goodsid" hidden="">
                    <input name="sizeid" hidden="">
                    <input name="count" hidden="">
                    <input type="hidden" name="csrfmiddlewaretoken" value="2Z4bt7AGqVvnGchxIcXNnVFqNTqobTVLDp0V80mGn7lKOWNSebN088o8hcUYl28r">
                    <button class="male" onclick="goCart()">单独购买</button>
              </form>
            </div>
         <div class="detail-con-nav">
        <ul class="detail-nav">
            <li class="active nav-item "><a href="#">商品详情</a></li>
            <li class="nav-item"><a href="#">物流与售后</a></li>
            <li class="nav-item"><a href="#">消费保障</a></li>
            <li class="nav-item"><a href="#">手机购买</a></li>
        </ul>
    </div>
    <div class="sub-nav">
        <ul class="subNav">
            <li><a href="#">整体款式</a></li>
            <li><a href="#">模特实拍</a></li>
            <li><a href="#">细节做工</a></li>
        </ul>
    </div>

<div class="zhanshi">
        <div class="zhanshi-model">
            <p>参数规格</p>
            <div class="line"></div>
            <img src="{% static 'img/详情页_03.png' %}" alt="">
        </div>
        <div class="zhanshi-model">
            <p>整体款式</p>
            <div class="line"></div>
            <img src="{% static 'img/详情页_06.png' %}" alt="">
        </div>
        <div class="zhanshi-model">
            <p>模特实拍</p>
            <div class="line"></div>


        {% for goods_deatil in good.details  %}
        <img src="{{ MEDIA_URL }}{{ goods_deatil.value }}" alt="">
        {% endfor %}
                </div>
            </div>
{#    <div class="zhanshi">#}
{#        #}
{#        #}
{#       {% for name,imgs in good.detatils.items %}#}
{##}
{#        <div class="zhanshi-model">#}
{#            <p>{{ name }}</p>#}
{#            <div class="line"></div>#}
{#           {% for img in name.imgs %}#}
{#         <img src="{{ img }}" alt="">#}
{#           {% endfor %}#}
{#        </div>#}
{#       {% endfor %}#}
{##}
{#    </div>#}

        </div>
    </div>
{% endblock main %}
